.App {
  text-align: left;
}

/* Layout */

.container{
  margin:40px 10px;
}

.box-wrapper{
display: flex;
flex-wrap: wrap;
}

.box{
  border:1px solid #CECDCE;
  border-radius:5px;
  width:300px;
  margin: 15px 10px;
  padding: 20px 15px;
}

/* Box Decoration*/

.currency-name{
  font-size: 20pt;
  font-weight: 600;
}

.currency-price{
  color:#FFA700;
  font-size: 20pt;
  font-weight: 600;
  margin: 8px 0;
}

.currency-flex{
  display: flex;
  color:#A3A2A3 ;
  font-size:13pt;
}

.currency-flex p{
  font-weight: 700;
  margin:0;
}

.currency-volume{
  width:180px;
}

.pos-num{
  color:#A3D243
}

.neg-num{
  color:#BA0735
}

@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
  }

  .box-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .currency-name{
    font-size: 30pt;
  }
  
  .currency-price{
    font-size: 25pt;
  }

  .currency-volume{
    width:auto;
  }

  .currency-flex{
    display: block;
    font-size: 28px; 
  }

  .currency-flex div{
    margin:10px 0;
  }

}